<!doctype html>
<html lang="ru" xmlns:data-th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Индер!</title>

    <link rel="stylesheet" href="css/main.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!--
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    -->
</head>
<div>
    <div data-th-include="/fragments/layout :: adminFragment"></div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand"><i class="fas fa-gem"></i><span style='padding-left:10px;'> </span><i class="fab fa-linkedin-in"></i><i class="fab fa-neos"></i><i class="fab fa-dochub"></i><span></span>er</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a data-th:href="@{/search}"><form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button> <span style='padding-left:10px;'> </span>
                </form></a></li>  <!-- ?search=value необходимо создать логику -->
                <li class="nav-item"><a  data-toggle="modal" data-target="#modalAppointment"><input class="btn btn-primary" type="button" value="Предложить поездку"></a></li><span style='padding-left:10px;'> </span>
                <li class="nav-item"><a data-th-include="/fragments/layout :: registerFragment">Регистрация</a></li></i><span style='padding-left:10px;'> </span>
                <li class="nav-item"><a data-th-include="/fragments/layout :: loginFragment">Войти</a></li>
                <li class="nav-item"><a data-th-include="/fragments/layout :: logoutFragment">Выйти</a></li>
            </ul>
        </div>
    </div>
</nav>
                <h1  class="text-primary" style="font-family: Lato">Service on search of fellow travelers</h1>


</body>
</html>