<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Индер!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<img>
<div>
    <div data-th-include="/fragments/layout :: registerFragment"></div>
    <div data-th-include="/fragments/layout :: loginFragment"></div>
    <div data-th-include="/fragments/layout :: logoutFragment"></div>
    <div data-th-include="/fragments/layout :: adminFragment"></div>
</div>

<h1  class="text-primary" style="font-family: Lato">Service on search of fellow travelers</h1>

<div class="navbar navbar-inverse navbar-fixed-top" style="padding-top: 10px">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">INN<i class="fa fa-car"></i>DER</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#"></a><div class="badge  badge-success" data-th-include="/fragments/layout :: registerFragment"></div></li>
                <li><a href="#"></a></li>
                <li><a href="#"><div class="badge badge-success" data-th-include="/fragments/layout :: loginFragment"></div></a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>