<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>СОЗДАЙ СВОЙ ТРИП!!!!</title>
</head>
<style>
    #map {
        height: 200px;
        width: 400px;
    }
    #DescriptionBox {
        height: 200px;
        width: 400px;
    }

    #CostBox {
        width: 450px;
        height: 13px;
    }

</style>
<body>
<h1>ТРИП</h1>
<div id="map"></div>
Описание:
<br><input id="DescriptionBox" type="textarea cols='60' rows='8'" placeholder="Описание поездки"/><br>
Стоимость:
<br><input id="CostBox" type="textbox" placeholder="Напишите стоимость поездки(числом в рублях)"/><br>
Описание транспорта:
<select >
    <option disabled selected>Выберите</option>
    <option value="OwnCar">Личный транспорт</option>
    <option value="Bus">Автобус</option>
    <option value="CarSharing">Каршеринг</option>
</select><br>
Дата начала поездки:
<input id= "datePick" type="datetime-local"><br>
<input id="buttonBack" type="submit" value="Назад"/>
<input id="buttonConfirmTrip" type="submit" value="Подтвердить поездку"/>
<script>
    // document.getElementById('buttonConfirmTrip').addEventListener('click', function () {
    //     getUTCTime();});
    // function getUTCTime() {
    //     var UTCtime = Date.parse(document.getElementById('datePick').value);
    //     alert(UTCtime);
    //     var time = new Date(UTCtime);
    //     alert(time.toLocaleString());
    // }
    function getBack() {
        window.location.href('create-route.html');
    }
    document.getElementById('buttonBack').addEventListener('click', function () {
        getBack();});


    function initMap() {
        myOptions = {
            zoom: 7,
            center: {},
        },
            map = new google.maps.Map(document.getElementById('map'), myOptions),
            directionsService = new google.maps.DirectionsService,
            directionsDisplay = new google.maps.DirectionsRenderer({
                map: map
            });
        calculateAndDisplayRoute(directionsService, directionsDisplay);

    }

    function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        start = localStorage.getItem("StarLoc");
        end = localStorage.getItem("EndLoc");
        directionsService.route({
            origin: start,
            destination: end,
            travelMode: 'DRIVING'
        }, function(response, status) {
            if (status === google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
            }
        });
    }

</script>
<script
        async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtzvGgZp_TyiIsUWDNqI-lQuajA_xCj3A&callback=initMap">

</script>
</body>
</html>