<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>




    <link rel="icon" type="image/png" href="../static/images/reg/icons/favicon.ico" data-th-href="@{/images/reg/icons/favicon.ico}"/>

    <link rel="stylesheet" type="text/css" href="../static/vendor/reg/bootstrap/css/bootstrap.min.css" data-th-href="@{/vendor/reg/bootstrap/css/bootstrap.min.css}">

    <link rel="stylesheet" type="text/css" href="../static/fonts/reg/font-awesome-4.7.0/css/font-awesome.min.css" data-th-href="@{/fonts/reg/font-awesome-4.7.0/css/font-awesome.min.css}">

    <link rel="stylesheet" type="text/css" href="../static/fonts/reg/Linearicons-Free-v1.0.0/icon-font.min.css" data-th-href="@{/fonts/reg/Linearicons-Free-v1.0.0/icon-font.min.css}">

    <link rel="stylesheet" type="text/css" href="../static/fonts/reg/iconic/css/material-design-iconic-font.min.css" data-th-href="@{/fonts/reg/iconic/css/material-design-iconic-font.min.css}">

    <link rel="stylesheet" type="text/css" href="../static/vendor/reg/animate/animate.css" data-th-href="@{/vendor/reg/animate/animate.css}">

    <link rel="stylesheet" type="text/css" href="../static/vendor/reg/css-hamburgers/hamburgers.min.css" data-th-href="@{/vendor/reg/css-hamburgers/hamburgers.min.css}">

    <link rel="stylesheet" type="text/css" href="../static/vendor/reg/animsition/css/animsition.min.css" data-th-href="@{/vendor/reg/animsition/css/animsition.min.css}">

    <link rel="stylesheet" type="text/css" href="../static/vendor/reg/select2/select2.min.css" data-th-href="@{/vendor/reg/select2/select2.min.css}">

    <link rel="stylesheet" type="text/css" href="../static/vendor/reg/daterangepicker/daterangepicker.css" data-th-href="@{/vendor/reg/daterangepicker/daterangepicker.css}">

    <link rel="stylesheet" type="text/css" href="../static/css/reg/util.css" data-th-href="@{/css/reg/util.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/reg/main.css" data-th-href="@{/css/reg/main.css}">
</head>

<body style="background-color: #999999;">

<div class="limiter">
    <div class="container-login100">
        <div class="login100-more" style="background-image: url('/images/reg/register-innder.jpg');"></div>

        <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
            <form  data-th-action="@{/register}" method="post" class="login100-form validate-form">
                <span class="login100-form-title p-b-59">
                   <fieldset class="text-center">Welcome to Innder</fieldset>
                    <div class="text-center">Sign Up</div>
                </span>

                <!--  надо будет увязать с БД-->

                <div class="wrap-input100 validate-input" data-validate="Name is required">
                    <span class="label-input100">Fist Name</span>
                    <input class="input100" type="text" name="name" placeholder="Name...">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Valid email is required: innder@service.com">
                    <span class="label-input100">Email</span>
                    <input class="input100" type="text" name="email" placeholder="Email address...">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Username is required">
                    <span class="label-input100">TelegramName</span>
                    <input class="input100" type="text" name="username" placeholder="TelegramName...">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Password is required">
                    <span class="label-input100">Password</span>
                    <input class="input100" type="password" name="password" placeholder="*************">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Repeat Password is required">
                    <span class="label-input100">Repeat Password</span>
                    <input class="input100" type="password" name="confirm" placeholder="*************">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Sign Up
                        </button>
                    </div>

                    <a href="http://localhost:80/login" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                        Sign in
                        <i class="fa fa-long-arrow-right m-l-5"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


<script data-th-src="@{vendor/reg/jquery/jquery-3.2.1.min.js}"></script>

<script data-th-src="@{vendor/reg/animsition/js/animsition.min.js}"></script>

<script data-th-src="@{vendor/reg/bootstrap/js/popper.js}"></script>
<script data-th-src="@{vendor/reg/bootstrap/js/bootstrap.min.js}"></script>

<script data-th-src="@{vendor/reg/select2/select2.min.js}"></script>

<script data-th-src="@{vendor/reg/daterangepicker/moment.min.js}"></script>
<script data-th-src="@{vendor/reg/daterangepicker/daterangepicker.js}"></script>

<script data-th-src="@{vendor/reg/countdowntime/countdowntime.js}"></script>

<script data-th-src="@{js/reg/main.js}"></script>




<!--
<div data-th-if="error">
   [[ ${error} ]]
</div>
<form data-th-action="@{/register}" method="post">
   <input name="username" placeholder="Логин" required>
   <input name="password" type="password" placeholder="Пароль" required>
   <input name="confirm" type="password" placeholder="Подтверждение пароля" required>
   <button>Регистрация</button>
</form>
-->
</body>
</html>